@import "utils/reset.scss";
@import "utils/fonts.scss";
@import "utils/libs.scss";
@import "utils/vars.scss";
@import "modules/header.scss";
@import "modules/navbar.scss";
@import "modules/about_section.scss";
@import "modules/services.scss";
@import "modules/gallery.scss";
@import "modules/contact.scss";



/* --preloader style-- */

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  /* фоновый цвет */
  background: #fff;
  z-index: 9999;
}

.preloader__image {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

/* --global style-- */
html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-image: url("/assets/img/primary_bg.png");
  background-repeat: repeat;
  position: relative;
  overflow-x: hidden;
}


h2 {
  @extend %qsand_f;
  font-size: 36px;
  line-height: 47px;
  font-style: normal;
  letter-spacing: -0.9px;

}

h4 {
  @extend %os_bold;
  font-size: 15px;
  color: $primary;
  line-height: 30px;
  letter-spacing: 0;
  text-transform: uppercase;
}

h6 {
  @extend %qsand_f;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0;
  color: #fff;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@each $bp,
$size in $breakpoints {
  @media screen and (min-width: $size) {

    @if($bp==xl) {
      .container {
        max-width: 1096px;
      }
    }

    @if($bp==xxl) {
      .container {
        max-width: 1266px;
      }
    }

    @if($bp==sm) {
      .container {
        max-width: 600px;
      }
    }

    @if($bp==md) {
      .container {
        max-width: 720px;
      }
    }

    @if($bp==lg) {
      .container {
        max-width: 960px;
      }
    }
  }
}

.swiper-slide {

  .swiper-lazy-preloader {
    border: 4px solid $primary;
    border-top: 4px solid rgba(0, 0, 0, 0);
    z-index: 9999;
  }
}

.section__heading {
  @include col(50%);

  h4 {
    margin-left: 12.3%;
    position: relative;

    padding-top: 13px;
    padding-bottom: 13px;

    &::before {
      content: "";
      width: 46.7%;
      position: absolute;
      bottom: 0;
      height: 2px;
      background: $primary;
      left: -12%;
    }
  }

  h2 {
    margin-left: 12.3%;
    margin-top: 28px;
  }
}

@media (max-width: 1366px) {
  .section__heading {
    h4 {
      &::before {
        width: 51.7%;
      }
    }
  }
}

@media (max-width: 1024px) {
  .section__heading {
    h4 {
      &::before {
        width: 57.7%;
      }
    }
  }
}

@media (max-width: 992px) {
  h2 {
    font-size: 29px;
    line-height: 31px;
  }
}

@media (max-width: 768px) {
  .section__heading {
    margin: 0 auto;
  }
}

@media (max-width: 576px) {
  .section__heading {
    @include col(100%);
    margin: 0;
  }
}

// Modules:
// example: @import "modules/my-module.scss";
