%bellamy {
  font-family: "BellamyBold", serif;
  font-weight: 400;
}

%os_regular {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

%os_semibold {
  font-family: "Open Sans Semibold", sans-serif;
  font-weight: 600;
}

%os_bold {
  font-family: "Open Sans Bold", sans-serif;
  font-weight: 700;
}

%qsand_f {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
}

%container {
  width: 100%;
  position: relative;

}

$breakpoints: (xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1280px,
  xxl: 1600px);

$primary:#f91c3b;
$secondary: #093868;
